include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body
  header#FondoCompleto
    .container#cabezal
      a(href="index.html").col3.col-m4.push-m4#logo
        .img(data-sr)
          img(src='site/img/logo2.png', alt="Alex Courcelle").w100
      .col5
        div#texto_header Alex Courcell
          div#texto_header2 Fotografía y Video
      .col4
        div#img_header
          img(src='site/img/fotografo.png', alt="Alex")
   menu#FondoCompleto      
    .container  
        .col12.col-m12
            nav: +menu('index', menu, 'horizontal', 0, 0, '', {'data-sr':true})
    .container
        .col12#texto_intro
            div#texto1(data-sr="enter left") Cuento historias con imágenes 
            div#texto2(data-sr="enter right") retratando memorias como experiencias vivas. 
            //div#texto3(data-sr="enter left") captando la esencia de cada momento.
    
    +footer
            
    +scripts
